
  
  .toggle-container
   {
    width: 37px;
    height: 15px;
    background-color: black;
    display: flex;
    position: relative;
    border: 3px solid #111;
    padding-left: 0;
    
    box-shadow: -1px 3px 22px 0px rgba(0, 0, 0, 0.75);

    margin: 0;
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  border-radius: 15px;
  }
  
  .toggle {
    position: absolute;
    height: 12px;
    width: 12px;
    background-color: grey;
    display: block;
    border-radius: 15px;
    border: 2px solid red;
    background-color: rgba(255, 0, 0, 0.5);
    transition: all 0.3s ease;
  }
  
  .toggle {
    left: 00px;
  }
  
  .toggle-active {
    transform: translateX(calc(25px - 3px));
    border: 2px solid #10d610;
    background-color: rgba(0, 255, 0, 0.3);
  }
  