
serverstart.sh
redesign/serverstart.sh
redesign/startserver.sh
redesign/serverstartwin.cmd
redesign/.vs/slnx.sqlite
redesign/copysparkpybuild.cmd
redesign/.vs/redesign/v16/.suo
redesign/.vs/VSWorkspaceState.json
